<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextResultz | Student login</title>
    <link rel="stylesheet" href="../assets/css/studentlogin.css">
    <link rel="icon" href="../assets/favicon.ico">
    <script src="https://kit.fontawesome.com/552542671f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav">

        <a href="/" class="anchor-tag-sl"><i class="fa-solid fa-chevron-left"></i></a>
        <div class="headin1">
            Welcome to NextResultz !
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="info">
            </div>
            <div class="form">
                <div class="headin">
                    <strong> Student Login</strong>
                </div>
                <div class="register">
                    Don't have an account? <a href="/studentregistration">Register here</a> it takes only few
                    moments.
                </div>
                <div class="form-small">
                    <form action="/studentlogin" method="POST">
                        <div class="text-filed">
                            <input type="email" name="email" required>
                            <span></span>
                            <label for="">Email</label>
                        </div>
                        <div class="text-filed">
                            <input type="password" name="password" required>
                            <span></span>
                            <label for="">Password</label>
                        </div>
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <span>
            Designed By
            <a href="https://www.linkedin.com/in/iamkiranyadav/" target="_blank">Kiran Yadav</a>
            (Under Development) |
            <span class="far fa-copyright"></span>
            NextResultz 2022 All rights reserved.
        </span>
    </footer>
</body>

</html>